.background{
    height: inherit;    
    background: #000E40;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.profile-img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.paper-profile {
    background-color: #335183 !important;
}

.scroll-list {
    height: 300px;
    width: auto;
    margin-top: 20px;
    overflow-y: scroll;
    overflow-x: auto;     
    overflow: -moz-scrollbars-none;  
    -ms-overflow-style: none;
}

.scroll-list::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

.list-container {
    height: inherit;
}

.list-container .item-layout{
    width: 90%;
    margin-left: 2.5% !important;
    margin-top: 20px;
}

#create-menu .LinkText {
    text-decoration: none;
    color: grey;
}