.background {
    /* The image used */
    background-image:linear-gradient(rgba(51, 81, 131, 0.65), rgba(51, 81, 131, 0.65)), url(../assets/smite-landing.png);

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero{
    position: static;
width: 100%;
height: 426px;
left: calc(50%/2 - 2px);
top: 0px;
margin-top: 190px;
}

h2 {
    position: static;
    width: 496px;
    height: 70px;
    font-weight: 800;
    font-size: 40px;
    line-height: 70px;
    margin-inline-start: 25px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.75);
    opacity: 0.75;
    margin-bottom: 0;
}

.layout {    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 0px 25px;
    position: static;
    width: 90%;
    height: 210px;
}

h1{
position: static;
height: 140px;
font-weight: 800;
font-size: 60px;
line-height: 50px;
margin-top: 0;
margin-inline-start: 25px;
align-items: center;
text-transform: uppercase;
color: rgba(249, 246, 246, 0.8);
}

.strong {
    color: rgba(255, 188, 16, 0.8);
}