.background-entry{
    height: inherit !important;
    background: #000E40;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.entry-space {
    margin-top:5%;
    margin-bottom:11.2%;
}
.label-input-entry{
    background-color: #335183 !important;
}

.label-input-entry input{
    color:whitesmoke
}

.label-input-entry textarea {
    color:whitesmoke
}

.background .save-edit-entry{
    background-color: #BABABA ;
    background-blend-mode: luminosity;
    border-radius: 6px;
}
.background .change-password-entry{
    background-color: #b89500;
    color:lightgray;
}
.title-space-entry{
    margin-top:40px;
}

.edit-img-entry {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-left: 40%;
}
.background .upload-img {
    background-color: #BABABA ;
    background-blend-mode: luminosity;
    border-radius: 6px;
    margin-left: 40%;
}

@media screen and (max-width:1378px) and (min-width:1280px){
    .entry-space {
        margin-top:2.5%;
        margin-bottom:0.7%;
    }
    .title-space-entry{
        margin-top:0px;
    }
}