#root .background-view{
    height: auto;
    background: #000E40;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.searchBar-read {
    background-color: #BFBFBF !important;
    width: 85%;
    margin-left: 15%;
}

.searchBar-read button {
    background-color: #335183 !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
}

.item-layout-read{
    width: 80%;
    margin-left: 7.5% !important;
}
.background-view .create {
    background-color: #335183 !important;
    border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    -ms-border-radius: 2px !important;
    -o-border-radius: 2px !important;
    color: whitesmoke;
}

@media only screen and (max-width:400px){
    .searchBar-read {
        margin-left: 5%;
    }
    .item-layout-read{
        width: 100%;
        margin-left: 7.5% !important;
    }
}